html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Inter, "PingFang SC", "Microsoft YaHei", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content-page_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1 0 0;
  background-color: var(--color-bg-container);
  padding: 16px;
}