@use "sass:list";

$light-palette: (
        "red": (#ffece8, #fdcdc5, #fbaca3, #f98981, #f76560, #f53f3f, #cb272d, #a1151e, #770813, #4d000a),
        "orange": (#fff7e8, #ffe4ba, #ffcf8b, #ffb65d, #ff9a2e, #ff7d00, #d25f00, #a64500, #792e00, #4d1b00),
        "green": (#e8ffea, #aff0b5, #7be188, #4cd263, #23c343, #00b42a, #009a29, #008026, #006622, #004d1c),
        "blue": (#e8f7ff, #c3e7fe, #9fd4fd, #7bc0fc, #57a9fb, #3491fa, #206ccf, #114ba3, #063078, #001a4d),
        "arcoblue": (#e8f3ff, #bedaff, #94bfff, #6aa1ff, #4080ff, #165dff, #0e42d2, #072ca6, #031a79, #000d4d),
        "gray": (#f7f8fa, #f2f3f5, #e5e6eb, #c9cdd4, #a9aeb8, #86909c, #6b7785, #4e5969, #272e3b, #1d2129),
);

$dark-palette: (
        "red": (#4d000a, #770611, #a1161f, #cb2e34, #f54e4e, #f76965, #f98d86, #fbb0a7, #fdd1ca, #fff0ec),
        "orange": (#4d1b00, #793004, #a64b0a, #d26913, #ff8d1f, #ff9626, #ffb357, #ffcd87, #ffe3b8, #fff7e8),
        "green": (#004d1c, #046625, #0a802d, #129a37, #1db440, #27c346, #50d266, #7ee18b, #b2f0b7, #ebffec),
        "blue": (#001a4d, #052f78, #134ca3, #2971cf, #469afa, #5aaafb, #7dc1fc, #a1d5fd, #c6e8fe, #eaf8ff),
        "arcoblue": (#000d4d, #041b79, #0e32a6, #1d4dd2, #306fff, #3c7eff, #689fff, #93beff, #bedaff, #eaf4ff),
        "gray": (#1d2129, #272e3b, #4e5969, #6b7785, #86909c, #a9aeb8, #c9cdd4, #e5e6eb, #f2f3f5, #f7f8fa),
);

$semantic-colors: (
        "primary": "arcoblue",
        "info": "blue",
        "success": "green",
        "warning": "orange",
        "error": "red",
);

@mixin emit-palette($palette) {
  @each $name, $shades in $palette {
    @for $index from 1 through list.length($shades) {
      --color-#{$name}-#{$index}: #{list.nth($shades, $index)};
    }
  }
}

@mixin emit-semantic-colors {
  @each $semantic, $palette in $semantic-colors {
    @for $index from 1 through 10 {
      --color-#{$semantic}-#{$index}: var(--color-#{$palette}-#{$index});
    }
  }
}

:root {
  @include emit-palette($light-palette);
  @include emit-semantic-colors;
  --color-bg-page: #f2f3f5;
  --color-bg-container: #fff;
  --color-bg-elevated: #fff;
  --bprogress-color: var(--color-primary-6);
  color-scheme: light;
}

:root[data-theme="dark"] {
  @include emit-palette($dark-palette);
  --color-bg-page: #101014;
  --color-bg-container: #18181c;
  --color-bg-elevated: #2c2c32;
  color-scheme: dark;
}
